<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/common.css">
</head>

<body>
	<header>
		<h1>Vet</h1>
		<h4>A simple solution.</h4>
	</header>


	<form method='post'>

        <hr>
    	<p><b>Proprietar</b></p>
		<table>
			<tr>
			 	<input type='hidden' name='id' value='$id'>
			</tr>
            <tr>
				<td>Nume:</td>
				<td> <input type='text' name='nume' value='$nume' required disabled="disabled"> </td>

				<td>Prenume:</td>
				<td> <input type='text' name='prenume' value='$prenume' required disabled="disabled"> </td>

				<td>Oras:</td>
				<td> <input type='text' name='oras' value='$oras' disabled="disabled"> </td>

				<td> Adresa:</td>
				<td> <input type='text' name='adresa' value='$adresa' disabled="disabled"> </td>
            </tr>

			 <tr>
				 <td>Telefon:</td>
				 <td> <input type='text' name='telefon' value='$telefon' disabled="disabled" > </td>

				 <td>Email:</td>
				 <td> <input type='text' name='email' value='$email' disabled="disabled" > </td>
				 <!-- <td><input type='submit' name=$id value= 'Update' > </td> -->
			 </tr>
		</table>


		<hr>
		<p><b>Animal</b></p>
		<table>
			<tr>
				<td>Specie:</td>
				<td>
					<input type= "text" list="specii" name="specie" autofocus>
					<datalist id= "specii">
						#foreach($specie in $specii)
						    <option>$specie.specie</option>
						#end
					</datalist>
				</td>

				<td>Rasa:</td>
				<td>
					<input type="text" list="rase" name="rasa">
					<datalist id="rase">
						#foreach($rasa in $rase)
						    <option>$rasa.rasa </option>
						#end
					</datalist>
				</td>

				<td>Nume:</td>
				<td> <input type='text' name='numeAnimal' required> </td>

				<td>Culoare:</td>
				<td> <input type='text' name='culoare' required> </td>
			</tr>

			<tr>
				<td>Sex:</td>
				<td> <input type='text' name='sex' required> </td>

				<td>Greutate:</td>
				<td> <input type='text' name='greutate' required> </td>

				<td>Varsta:</td>
				<td> <input type='text' name='varsta' required> </td>

				<td>Microcip:</td>
				<td> <input type='text' name='microcip' required> </td>
				<!-- <td><input type="submit" name="buton" value=" Add "> </td> -->

			</tr>
		</table>


		<hr>
		<p><b>Examinare</b></p>
		<table>
			<tr>
				<td>Data</td>
				<td> <input type='date' name='data' required> </td>

				<td>Anamneza</td>
				<td> <input type='text' name='anamneza' size="90" required> </td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Examen Clinic</td>
				<td> <textarea rows="4" cols="100" type='text' name='examen_clinic' size="117" required></textarea> </td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Diagnostic</td>
				<td> <textarea rows="8" cols="50" type='text' name='diagnostic' required> </textarea> </td>

				<td>Tratament</td>
				<td> <textarea rows="8" cols="50" type='textarea' name='tratament' required> </textarea> </td>
				<td> <input type="submit" value="" class="inputImg inputAddAnimal" title="Adaugă fișă de examinare"><a href="/main"></a> </td>
				<!--<td><input type="submit" name="buton" value=" update "> </td> -->
			</tr>
		</table>
	</form>


	<footer>
		<div class="bottomright">
			<img src ="/doglogo.png">
		</div>
	</footer>
</body>
</html>