@charset "utf-8";

img{
	position: absolute;
	right: 43px;
	font-size: 18px;
	width: 112px;
	top: 31px;
}

header{
	background-color:#ff6347;
	color:white;
	padding:5px;
	text-align: center;
}
header img {
	position: absolute;
	width: 87px;
	left: 63px;
	top: 31px;
}

/* buton de adaugare */
.dropdown {
	position: relative;
	display: inline-block;
	float: left;
}
.dropbtn {
	width: 200px;
	/background-color: #4CAF50;/
	color: black;
	padding: 15px;
	font-size: 16px;
	border: none;
	margin-left: 28px;
	float: left;
}

/* searc */

.search {
	width: 350px;
	float: left;
	margin-left: 175px;
	margin-bottom: 26px;
	left: 0px;
}

.searchBox {
	font-size: 1.3em;
	height: 29px;
	float: left;
	margin-top: 9px;
}

/* The container <div> - needed to position the dropdown content */

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
	background-color: #ff6347;
	color: white;
}

.indextable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.indextable td, .indextable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.indextable tr:nth-child(even){
    background-color: #f2f2f2;
}

.indextable tr:hover {
    background-color: #ddd;
}

.indextable th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}

.indextable .cellForList {
	width: 14%;
	text-align: center;
}

.indextable .cellForIcon{
	padding-top: 6px;
	padding-bottom: 0px;
}

.indextable .headerColour {
    background-color: #ff6347;
}

/*.indextable .cellForList .addelement {
	width: 100%;
	height: 100%;
	border: none;
	min-width: 100%;
} */

.indextable .addelement:hover {
	background-color: #3e8e41;
	color: white;
}

.indextable .cellForIcon {
	text-align: center;
	width: 20px;
}

.indexTablePetsList {
	width: 60%;
	margin-top: 11px;
}

.indexTablePetsList .cellForList {
	width: 10%;
	text-align: center;
	border: 2px none #000000;
	margin: 0px;
}

.indextable .noBorder {
	border-style: none;
}

.indextable .noColourHover:hover {
	background-color: transparent;
}

table .inputImg {
	position: absolute;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
table .inputImg:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	cursor: pointer;
}

.inputUpdate {
	left: 1070px;
	width: 75px;
	height: 75px;
	top: 580px;
	background-image: url(update.png);
}

.inputAdd {
	left: 1070px;
	width: 75px;
	height: 75px;
	top: 552px;
	background-image: url(fisaNoua.png);
}

.inputAddExamen {
	left: 1070px;
	width: 75px;
	height: 75px;
	top: 444px;
	background-image: url(addExamen.png);
}

.inputAddAnimal {
	left: 1070px;
	width: 75px;
	height: 75px;
	top: 553px;
	background-image: url(addPet.png);
}

.inputListaNoua {
	width: 50px;
	height: 50px;
	background-image: url(fisaNoua.png);
	background-size: 100% 100%;
	float: left;
	margin-left: 85px;
	background-color: transparent;
	border: none;
	margin-right: 114px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.inputSearch {
	width: 50px;
	height: 50px;
	background-image: url(search.png);
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
	padding-bottom: 30px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.inputAnimal {
	background-position: 50% 50%;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	background-image: url(addPet.png);
	-webkit-box-shadow: inset 0px 0px;
	box-shadow: none;
	background-color: transparent;
	border: none;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.inputListaNoua:hover, .inputSearch:hover, .inputAnimal:hover,.inputExamen:hover, .inputDelete:hover, .inputListaUpdate:hover  {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	cursor: pointer;
}

.inputExamen {
	background-position: 50% 50%;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	background-image: url(addExamen.png);
	top: 0px;
	background-color: transparent;
	border: none;
	border: none;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.inputDelete {
	background-position: 50% 50%;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	background-image: url(trash.png);
	background-color: transparent;
	border: none;
	border: none;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.inputListaUpdate {
	margin: auto;
	background-position: 50% 50%;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	background-image: url(update.png);
	top: 0px;
	background-color: transparent;
	border: none;
	border: none;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}

/* buton de adaugare */

/* pentru add.vmm*/
